%h3 User
%p
  User: #{@user.name}
%p
  Email: #{@user.email if @user.email}
%p
  - if @user.has_role?(:agency)
    = link_to 'Campaigns', user_campaigns_path(@user)
  - elsif @user.has_role?(:tweeter)
    = link_to 'Joined campaigns', recruitments_user_path(@user)

