%h1 Leverage your social resources

%h3 Find marketing campaigns on Twitter
= search_form_for @search do |f|
  %div.field
    = f.text_field :title_cont, placeholder: "Find a campaign"
  = f.submit "Search", class: "btn"

