- enrollment = current_user.enrollments.build(campaign_id: @campaign.id)
= simple_form_for enrollment, url: campaign_enrollments_path(@campaign) do |f|
  = f.submit "Join", class: "btn btn-large btn-primary"

